services:
  base: &base
    image: chatwoot/chatwoot:v4.11.1
    env_file: .env
    volumes:
      - /data/storage:/app/storage

  rails:
    <<: *base
    container_name: woot_rails
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: docker/entrypoints/rails.sh
    # command: ['bundle', 'exec', 'rails', 's', '-p', '3000', '-b', '0.0.0.0']
    command: ['bundle', 'exec', 'sh', '-c', 'rails db:chatwoot_prepare && rails s -p 3000 -b 0.0.0.0']
    restart: always
    networks:
      - internal_network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
  sidekiq:
    <<: *base
    container_name: woot_sidekiq
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    command: ['bundle', 'exec', 'sidekiq', '-C', 'config/sidekiq.yml']
    restart: always
    networks:
      - internal_network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M

networks:
  internal_network:
    external: true
